body {
  background-color: #F2F2F2;
}

a {
  color: initial;
  text-decoration: none;
}

.content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-main .head-main {
  width: 100%;
  text-align: center;
}

.content-main .head-main .head-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 80%;
  margin: 0 auto;
  padding: 41px 0 37px;
  border-bottom: 2px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-main .head-nav {
  padding-top: 28px;
}

.content-main .head-nav .list-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-main .head-nav .list-nav li {
  margin-right: 60px;
  font-size: 16px;
  font-weight: 900;
  line-height: 23px;
}

.content-main .head-nav .list-nav li:nth-child(2) {
  font-weight: 500;
  color: #828282;
}

.content-main .head-nav .list-nav li:nth-child(3) {
  font-weight: 500;
  color: #828282;
}

.content-main .head-nav .list-nav li:last-child {
  margin: 0;
}

.list-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 23px;
  padding: 26px;
  margin-top: 28px;
  background-color: #FFFFFF;
  border: 2px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.list-card .list-content {
  overflow: hidden;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
}

.list-card .list-content .wrap-content {
  padding: 19px 20px 18px 20px;
}

.list-card .list-content .img-poster {
  width: 180px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.list-card .list-content .card-title {
  font-size: 16px;
  font-weight: 900;
  line-height: 23px;
  text-align: center;
  margin-top: 11px;
}

.list-card .list-content .list-info {
  margin-top: 12px;
}

.list-card .list-content .list-info li {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #828282;
}

.list-card .list-content .list-info li span {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
}

.list-card .list-content .list-info .wrap-grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-card .list-content .wrap-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #F2F2F2;
  position: relative;
}

.list-card .list-content .wrap-btn .btn-reserve {
  padding: 9px 27px;
  text-align: center;
}

.list-card .list-content .wrap-btn .btn-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  border: 1px solid #BDBDBD;
}

.list-card .list-content .wrap-btn .btn-vedio {
  display: inline-block;
  padding: 9px 27px;
  text-align: center;
}

.list-card .list-content .wrap-btn .img-play {
  display: inline-block;
  vertical-align: text-top;
  width: 13px;
  height: 13px;
}

@media (max-width: 545px) {
  .list-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 545px) and (max-width: 757px) {
  .list-card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .list-card {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .list-card {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */