@import "_mixin.scss";

body {
    background-color: $bg;
}

a {
    color: initial;
    text-decoration: none;
}


.content-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .head-main {
        width: 100%;
        text-align: center
    }

    .head-main .head-title {
        @include font-style-24();
        width: 80%;
        margin: 0 auto;
        padding: 41px 0 37px;
        border-bottom: 2px solid $line-color;
        box-sizing: border-box;
    }

    .head-nav {
        padding-top: 28px;

        .list-nav {
            display: flex;
            justify-content: center;

            li {
                margin-right: 60px;
                @include font-style-16();
            }

            li:nth-child(2) {
                font-weight: 500;
                color: $gray;
            }

            li:nth-child(3) {
                font-weight: 500;
                color: $gray;
            }
            li:last-child {
                margin: 0;
            }
        }
    }

}

.list-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 23px;
    padding: 26px;
    margin-top: 28px;
    background-color: $white;
    border: 2px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 15px;

    .list-content {
        overflow: hidden;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
        border-radius: 10px;

        .wrap-content {
            padding: 19px 20px 18px 20px;
        }

        .img-poster {
            @include card-img(180px, 10px);
        }

        @include content-card();
        @include btn();
    }
}

@include min {
    .list-card {
        grid-template-columns: 1fr;
    }
    
}

@include mobile {
    .list-card {
        grid-template-columns: 1fr 1fr;
    }
}

@include tablet {
    .list-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@include desktop {
    .list-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
